@import "colors.css";

/* 统一的全局基础样式  */
* {
  /* 1. 移除所有元素的默认边框 */
  border: none;
  /* 2. 移除所有元素的圆角效果 */
  border-radius: 8px;
  /* 3. 设置全局字体族（优先级从左到右） */
  font-family: "JetBrainsMono Nerd Font Propo", "LXGW WenKai Screen", "JetBrains Maple Mono";
  /* 4. 设置全局基准字体大小 */
  font-size: 15.6px;
  /* 5. 设置元素的不透明度（完全不透明） */
  opacity: 1;
}

window#waybar {
  /* 背景色和透明度 */
  background: rgba(43, 48, 59, 0.2);
  /* 底部边框厚度和颜色以及透明度 */
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  /* 右边边框 */
  border-right: 3px solid rgba(80, 90, 100, 0.5);
  border-radius: 0 0 8px 0;
  /* 右下角圆角，配合右侧+底部边框更自然 */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  /* 轻微阴影强化立体 */
  height: 30px;
  /* 固定高度，边框显示更规整 */
  color: whitesmoke;
}
